<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="com.bmwu.spring.HelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>

    <bean id="helloWorldScope" class="com.bmwu.spring.HelloWorld" init-method="init" destroy-method="destroy" scope="singleton">
    </bean>

    <bean id="helloWorldScope2" class="com.bmwu.spring.HelloWorld" scope="prototype">
    </bean>

    <bean id="initHelloWorld" class="com.bmwu.spring.InitHelloWorld" />

    <bean id="textEditor" class="com.bmwu.spring.TextEditor" autowire="constructor">
        <constructor-arg value="test"/>
    </bean>

    <!--<bean id="textEditorProperty" class="com.bmwu.spring.TextEditorProperty">-->
        <!--<property name="spellChecker" ref="spellChecker"/>-->
    <!--</bean>-->

    <!--<bean id="textEditorProperty" class="com.bmwu.spring.TextEditorProperty">-->
        <!--<property name="spellChecker">-->
            <!--<bean id="spellChecker2" class="com.bmwu.spring.SpellChecker"/>-->
        <!--</property>-->
    <!--</bean>-->

    <bean id="textEditorProperty" class="com.bmwu.spring.TextEditorProperty" autowire="byName">
        <property name="name" value="test"/>
    </bean>

    <bean id="spellChecker" class="com.bmwu.spring.SpellChecker"/>

    <bean id="javaCollection" class="com.bmwu.spring.JavaCollection">
        <property name="addressList">
            <list>
                <value>A</value>
                <value>B</value>
                <value>C</value>
            </list>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value="A"/>
                <entry key="2" value="B"/>
                <entry key="3" value="C"/>
            </map>
        </property>
        <property name="addressSet">
            <set>
                <value>A</value>
                <value>B</value>
                <value>C</value>
            </set>
        </property>
        <property name="addressProperties">
            <props>
                <prop key="1">A</prop>
                <prop key="2">B</prop>
                <prop key="3">C</prop>
            </props>
        </property>
    </bean>

</beans>